@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');


.kanit{
  font-family: 'Kanit';
}

.kanitB{
  font-family: 'Kanit';
  font-size: x-large;
}

.Buttondis:disabled{
  background-color: #2F4266;
  color: white;
}