@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');


.kanit{
  font-family: 'Kanit';
}


.kaniu{
    font-family: 'Kanit';
    color: white;
    font-size: large;
  }